.blackBorder{
    -fx-border-color: rgba(41, 41, 41, 0.84);
    -fx-background-radius: 5;
}

.flatButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.flatButton:hover{
    -fx-background-color: rgba(168, 168, 168, 0.84);
}

.flatButton:pressed {
    -fx-background-color: rgba(68, 68, 68, 0.84);
}

